.footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    color: #F8F8F8;
    font-family: 'Irish Grover';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}