.name {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto;
}


.input-container {
  display: flex;
  flex-direction: column;
}


mat-form-field {
  width: 100%; 
}
