html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(assets/img/bg-bear.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    font-family: 'Inter', 'Roboto', 'Montserrat', sans-serif;
}
 




